body{
    font-family: "roboto",Helvetica,Arial,sans-serif;
}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
    outline: none;
    box-shadow:none !important;
    border:1px solid #6c757d !important;
}
.header__top{
    background-color: #f5f5f5;
    text-align: center;
    font-size: 15px;
    height: 36px;
    line-height: 36px;
    font-weight: bold;
}
.header__main{
    display: flex;
    align-items: flex-end;
}
.top-search input{
    max-width: 200px;
}
.header__main__cartCheckout{
    display: flex;
    justify-content: flex-end;
    max-height: 72px;
}
.header__main__cartCheckout__container{
    width: 100px;
    text-align: center;
}
.header__main__logo{
    text-align: center;
}
.header__main-item{
    flex: 1;
}
.header__bottom{
    margin-top: 20px;
}
.header__bottom a{
    color: #000!important;
}
.header__bottom li, .header__bottom{
    position: relative;
}
.header__bottom li a::after{
    content: '';
    height:2px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #000;
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}
.header__bottom li a:hover::after{
    transform: scaleX(1);
}
.header__bottom .flex-column{
    display: none;
    position: absolute;
    top: 38px;
}
.header__bottom ul .nav-item.menu-dropdown:hover .flex-column {
    display: block;
}
.header__bottom ul .nav-item.menu-dropdown .flex-column:hover ~ a::after{
    transform: scaleX(1);
}
.header__bottom ul .nav-item.menu-dropdown .flex-column{
    min-width: 150px;
    background-color: #fff;
    z-index: 11;
}
.align-items-stretch{
    margin-top: 20px;
}
//cart css

body {
    font: 14px/22px "Lato", Arial, sans-serif;
  }
  
  .lighter-text {
    color: #ABB0BE;
  }
  
  nav {
    padding: 20px 0 40px 0;
    background: #F8F8F8;
    font-size: 16px;
    
    .navbar-left {
      float: left;
    }
    
    .navbar-right {
      float: right;
    }
    ul {
      
      li {
        display: inline;
        padding-left: 20px;
        a {
          color: #777777;
          text-decoration: none;
          
          &:hover {
            color: black;
          }
        }
      }
    }
  }
  
  .container {
    margin: auto;
    width: 80%;
  }
  
  .badge {
      border-radius: 10px;
      color: white;
      display: inline-block;
      font-size: 12px;
      line-height: 1;
      padding: 3px 7px;
      text-align: center;
      vertical-align: middle;
      white-space: nowrap;
  }
  
  .shopping-cart {
    margin: 20px 0;
    float: right;
    background: white;
    width: 320px;
    position: relative;
    border-radius: 3px;
    padding: 20px;
    
    
    .shopping-cart-header {
      border-bottom: 1px solid #E8E8E8;
      padding-bottom: 15px;
      
      .shopping-cart-total {
        float: right;
      }
    }
    
    .shopping-cart-items {
      
      padding-top: 20px;
  
        li {
          margin-bottom: 18px;
        }
  
      img {
        float: left;
        margin-right: 12px;
      }
      
      .item-name {
        display: block;
        padding-top: 10px;
        font-size: 16px;
      }
      
      .item-price {
        margin-right: 8px;
      }
    }
     
  }
  
  .shopping-cart:after {
      bottom: 100%;
      left: 89%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: white;
      border-width: 8px;
      margin-left: -8px;
  }
  
  .cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
  }
  
  .button {
    color:white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  //end css cart