.banner {
  background-image: url("/img/banner.jpg");
  width: 100%;
  padding-top: 42%;
  background-position: center;
  background-size: cover; }

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit; }

.box-product h3 {
  white-space: nowrap;
  overflow: hidden; }
