<div class="footer container my-5">
  <div class="row text-center">
    <div class="col-xl-3 col-sm-6 footer__logo">
      <img src="/img/logo.png" style="height: 150px;" alt="">
    </div>
    <div class="col-xl-3 col-sm-6 footer__information" >
        <ul class="nav flex-column">
            <li class="nav-item mt-3 title mb-3">
               Information
            </li>
            <li class="nav-item mt-3">
                <a class="" href="#">Contact Us</a>
            </li>
            <li class="nav-item mt-3">
                <a class="" href="#">About Us</a>
            </li>
             <li class="nav-item mt-3">
                <a class="" href="#">Privacy Policy</a>
            </li>
            <li class="nav-item mt-3">
                <a class="" href="#">Return and Refund Policy</a>
            </li>
             <li class="nav-item mt-3">
                <a class="" href="#">Shipping Policy</a>
            </li>
            <li class="nav-item mt-3">
                <a class="" href="#">DMCA</a>
            </li>
        </ul>
    </div>
    <div class="col-xl-3 col-sm-6 footer__contactUs">
      <ul class="nav flex-column">
            <li class="nav-item mt-3 title mb-3">
                Contact Us
            </li>
            <li class="nav-item mt-3">
                Email: support@vibecosy.com
            </li>
        </ul>
    </div>
    <div class="col-xl-3 col-sm-6 footer__signUp">
      <ul class="nav flex-column">
            <li class="nav-item mt-3 title mb-3">
               Sign up
            </li>
            <li class="mt-2">
                <form>
                    <div class="mb-3">
                        <input type="email" class="form-control" aria-describedby="emailHelp">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </li>
        </ul>
    </div>
  </div>
</div>